// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$primary: #0d1b2a;
$warning: #fca311;
$success: #14b8a6;

// Border Radius
$border-radius: .4rem;
$border-radius-sm: .25rem;
$border-radius-lg: .75rem;
$border-radius-xl: 1.25rem;
$border-radius-2xl: 2.25rem;
$border-radius-pill: 50rem;

// Button
$btn-padding-x: 1.25rem;